* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    border: none;
    color: #fff;
    background: #F15B22;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bolder;

}


/* hero section  */


.hero {
    height: 100vh;
    width: 100%;
    background-image: url(./images/banner/banner2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section{
    margin: 0 130px;
}
.hero-title{
    text-align: right;
    font-size: 65px;
    font-weight: 800px;
    padding-top: 100px;
}
.hero-discription{
    text-align: right;
    font-size: 16px;
    padding-left: 580px;
    align-items: right ;
    line-height: 25px;
    margin-top: 30px;
}
.hero-btn{
    text-align: right;
    margin-top: 30px;
}


    /* failures section  */



.failures {
    display: flex;
    gap: 60px;
}
.failures{
    padding-top: 100px;
}
.failures-sub-titel{
    padding-top: 120px;
    font-size: 40px;
    font-weight: 800px;
    line-height: 50px;
}
.failures-sub-discirption{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: justify;
    line-height: 26px;
}
.failures-pic img {
    height: 580px;
    width: 450px;
}
.fa-solid{
    color: #16D887;
    padding-right: 10px;
}
.order-list li {
    line-height: 30px;
    list-style: none;
}

/* My Success section  */
.success{
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    gap: 80px;

}
.success-sub{
    margin-top: 45px;
}
.success-sub-titel{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.success-sub-discirption{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    font-size: 18px;
}
.success-pic img {
    width: 500px;
    height: 550px;
}
.work-list li {
    margin-left: 20px;
    line-height: 25px;
}


/* my plans section  */


.plans-titel {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.my-plans{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.my-plans-item img {
    height: 70px;
    width: 70px;
}
.my-plans-item {
    text-align: center;
}
.my-plans-item-titel{
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.my-plans-item-dis{
    font-size: 20px;
    padding-bottom: 100px;
}


/* my plans next section  */


.plans-next {
    background-image: url(./images/watch.png), url(./images/gradient2.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 220px;
    width: 100%;
    border-radius: 10px;
    background-blend-mode: multiply;
    padding-top: 60px;
    padding-left: 60px, 60px;   
}
.plans-next-item-titel{
    font-size: 40px;
    color: #fff;
    padding-left: 80px;
}
.plans-next-item-titel-1{
    font-size: 40px;
    color: #fff;
    padding-top: 10px;
    padding-left: 80px;
}
.plans-btn {
    border: none;
    color: #F15B22;
    background:#fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
}
.btn-item{
    padding-top: 20px;
    padding-left: 80px;
}


/* footer section  */

.hero-footer{
    margin-top: 120px;
    background-color: black;
    height: 500px;
}
.footer-item{
    color: #fff;
    padding-top: 100px;
    justify-content: center;
    display: flex;
    gap: 8px;
}
.footer-sub-title{
    font-size: 50px;
    font-weight: bolder;
}
.footer-sub-discription{
    font-size: 16px;
    text-align: left;
    padding-right: 250px;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 30px;
}
.footer-sub-discription-1{
    margin-top: 22px;
}
.footer-sub img {
    margin-top: 35px;
    padding-right: 10px;
    height: 40px;
    width: 40px;
}
.footer-subscribe-title{
    font-size: 35px;
    margin-top: 20px;
}
.footer-subscribe input {
    margin-top: 20px;
    border: 1px solid #F3F3F3;
    background: black;
    font-size: 15px;
    color: #F3F3F3;
    padding: 15px 70px;
    border-radius: 5px;
}
.footer-subscribe-btn{
    margin-top: 20px;
}